[submodule "kicad_common"]
	path = cca/kicad_common
	url = git@github.com:tulth/kicad_common.git
[submodule "tmk_keyboard"]
	path = firmware/tmk_keyboard
	url = git@github.com:tulth/tmk_keyboard.git
[submodule "firmware/test/submodule_teensy_cores"]
	path = firmware/test/submodule_teensy_cores
	url = https://github.com/PaulStoffregen/cores.git
